@tailwind base;
@tailwind components;
@tailwind utilities;



.leaflet-popup-close-button{
    /* display: none; */
}

/* Minimap Control Attribution */
#leaflet_minimap_container .leaflet-control-attribution {
    display: none;
}
#leaflet_minimap_container .leaflet-container {
    background-color: white;
}
#leaflet_minimap_container2 .leaflet-control-attribution {
    display: none;
}
#leaflet_minimap_container2 .leaflet-container {
    background-color: rgb(229 229 229);

}
.leaflet-popup-content-wrapper {
    border: 2px solid black !important;
    padding: 0px !important;
    overflow: hidden;
}

.leaflet-popup-content{
    width: fit-content !important;
    padding: 0px !important;
    margin: 0px !important;
}
.leaflet-popup-tip{
    display: none;
    /* border: 2px solid black; */
}
.leaflet-popup-close-button{
    mix-blend-mode: difference;
    color: white !important;
}

@layer base {
    * {
        @apply selection:bg-emerald-300
    }
}

@layer components{
    .orga_icon_text{
        @apply font-semibold text-sm lg:text-xl
    }
    .orga_sub_title{
        @apply font-semibold flex justify-between
    }
    /* Filter page */
    .filter_item_box {
        @apply lg:pr-0
    }
    .filter_sub_item_box {
        @apply text-sm flex gap-2 flex-wrap mt-0 px-2 py-2 bg-neutral-200 pb-4 lg:pr-8
    }
    .filter_sub_item_box_wrapper {
        @apply mb-0
    }
    .filter_item_box_title {
        @apply text-xl flex items-center justify-start border-t-2 border-black
    }
    .filter_box_title {
        @apply pl-2
    }
    .filter_item {
        @apply border-2 border-black px-2 py-1 transition-all cursor-pointer
    }
    .filter_btn_wrapper {
        @apply flex text-xs
    }
    .filter_btn {
        @apply cursor-pointer transition-all aspect-square w-10 flex justify-center items-center border-r-2 border-black hover:bg-black hover:text-white
    }

}


@layer utilities {
      /* Hide scrollbar for Chrome, Safari and Opera */
      .no-scrollbar::-webkit-scrollbar {
          display: none;
      }
     /* Hide scrollbar for IE, Edge and Firefox */
      .no-scrollbar {
          -ms-overflow-style: none;  /* IE and Edge */
          scrollbar-width: none;  /* Firefox */
    }
  }
/* Logo */
@font-face {
    font-family: "BespokeStencil";
    src: url("/assets/fonts/BespokeStencil-Variable.ttf");
    font-weight: 700;
    font-style: normal;
    
}
/* List */
@font-face {
    font-family: "Aktura";
    src: url("/assets/fonts/Aktura-Regular.ttf");
    font-weight: normal;
    font-style: normal;
   
}
@font-face {
    font-family: "AlfaSlabOne";
    src: url("/assets/fonts/AlfaSlabOne-Regular.ttf");
    font-weight: 700;
    font-style: normal;
    
}
@font-face {
    font-family: "BespokeStencilItalic";
    src: url("/assets/fonts/BespokeStencil-VariableItalic.ttf");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "Britney";
    src: url("/assets/fonts/Britney-Variable.ttf");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "CourierBold";
    src: url("/assets/fonts/Courier-New-Bold.ttf");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Courier";
    src: url("/assets/fonts/Courier-New.ttf");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "JetBrainsMonoMedium";
    src: url("/assets/fonts/JetBrainsMono-Medium.ttf");
    /* font-weight: 700;
    font-style: normal; */
}
@font-face {
    font-family: "JetBrainsMonoLight";
    src: url("/assets/fonts/JetBrainsMono-Light.ttf");
    /* font-weight: 700;
    font-style: normal; */
}
@font-face {
    font-family: "JetBrainsMonoExtraBold";
    src: url("/assets/fonts/JetBrainsMono-ExtraBold.ttf");
    /* font-weight: 700;
    font-style: normal; */
}
@font-face {
    font-family: "JetBrainsMono";
    src: url("/assets/fonts/JetBrainsMono-Medium.ttf");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "JetBrainsMono";
    src: url("/assets/fonts/JetBrainsMono-Light.ttf");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "JetBrainsMono";
    src: url("/assets/fonts/JetBrainsMono-ExtraBold.ttf");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "Kihim";
    src: url("/assets/fonts/Kihim-Regular.ttf");
}
/* @font-face {
    font-family: "minionPro";
    src: url("/public/assets/fonts/MinionPro-Regular.otf");
} */
@font-face {
    font-family: "Panchang";
    src: url("/assets/fonts/Panchang-Variable.ttf");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "PramukhRoundedExtraboldItalic";
    src: url("/assets/fonts/PramukhRounded-ExtraboldItalic.ttf");
}
@font-face {
    font-family: "Sharpie";
    src: url("/assets/fonts/Sharpie-Variable.ttf");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "Telma";
    src: url("/assets/fonts/Telma-Variable.ttf");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "TheFutureMono";
    src: url("/assets/fonts/TheFutureMono-Regular.ttf");
    font-weight: 700;
    font-style: normal;
} 
@font-face {
    font-family: "TheFutureMonoBold";
    src: url("/assets/fonts/TheFutureMono-Bold.ttf");
    font-weight: 700;
    font-style: normal;
} 